ansi2html>=1.8.0
firecloud>=0.16.35
google-cloud-storage>=2.11.0
gcsfs>=2023.9.2
jupyter>=1.0.0
natsort>=8.4.0
scipy>=1.11.3
numpy>=1.26.0
pandas>=2.1.1
papermill>=2.4.0
python-dateutil>=2.8.2
pytz>=2023.3.post1
sendgrid>=6.10.0
termcolor>=2.3.0
xmltodict>=0.13.0
ipynbname>=2023.2.0.0
