google-auth>=2.29.0
google-cloud-bigquery>=3.21.0
google-cloud-monitoring>=2.21.0
google-cloud-storage>=2.16.0
gcsfs>=2024.3.1
firecloud>=0.16.37

ipython>=8.24.0
ipywidgets>=8.1.2
ipynbname>=2023.2.0.0
jupyter>=1.0.0

papermill>=2.6.0
sendgrid>=6.11.0

natsort>=8.4.0
python-dateutil>=2.9.0.post0
pytz>=2024.1
tqdm>=4.66.4

scipy>=1.13.0
numpy>=1.26.4
pandas>=2.2.2

matplotlib>=3.8.4
seaborn>=0.13.2
plotly>=5.22.0

termcolor>=2.4.0
ansi2html>=1.9.1
xmltodict>=0.13.0
