ansi2html>=1.9.1
firecloud>=0.16.36
google-cloud-storage>=2.15.0
gcsfs>=2024.2.0
jupyter>=1.0.0
natsort>=8.4.0
scipy>=1.12.0
numpy>=1.26.4
pandas>=2.2.1
papermill>=2.5.0
python-dateutil>=2.9.0.post0
pytz>=2024.1
sendgrid>=6.11.0
termcolor>=2.4.0
xmltodict>=0.13.0
ipynbname>=2023.2.0.0
tqdm>=4.66.2
